.btn{
    border:3px solid #FF0034;
    padding: 1rem 2rem;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
    color:#fff;
    font-weight: 800;
    transition: 250ms background ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;

    &:hover{
        background-color: #FF0034;
    }
}