@import '../../variables.scss';

#hero{
    @include tablet{
        margin-top:4rem;
    }
    h1{
        font-size:3rem;
        margin: 0;
        line-height: 1;
        @include tablet{
            font-size:4rem;
        }
        span{
            color:$primary;
        }
    }
}

.hero{
    &-content{
        margin:1.5rem 0 0 0;
        text-align: center;
        @include tablet{
            max-width: 70%;
            margin:0 auto;
        }
    }
    &-cta{
        margin-top:2rem;
    }
}