@import '../../variables.scss';

.logo{
    font-weight: 800;
    font-size:2rem;
    margin: 0;

    &-color{
        color:$primary;
    }

    &-subtitle{
        display: block;
        font-size: .5rem;
        font-weight: normal;
        margin-top:-9px;
        color:#c8c8c8;
        letter-spacing: 4px;
        text-transform: uppercase;
        strong{
            color:$white;
        }
    }
}