@import '../../variables.scss';

.logo{
    font-weight: 800;
    font-size:2rem;
    margin: 0;

    &-color{
        color:$primary;
    }

    &-subtitle{
        display: block;
        font-size: .5rem;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
}