@import '../../variables.scss';

.social-list{
    display: flex;
    gap:1rem;
    a{
        transition: all 250ms ease-in-out;
        &:hover{
            filter:brightness(50%);
        }
    }
    img{
        max-width: 20px;
        display: block;
    }
}