@import '../../variables.scss';

#about{
    .flex-container{
        gap:5rem;
    }
}

.skills{
    &-list{
        display: flex;
        gap:.7rem;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 3rem;
    }

    &-item{
        padding: .1rem .5rem;
        /*background-color: #2d2d2d;*/
        border:2px solid $primary;
        border-radius: 5px;
        font-size: .9rem;
        text-transform: uppercase;
    }
}