@import '../../variables.scss';

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 5%;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}