@import '../../variables.scss';

.menu{
    &-button{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: transparent;
        border: none;
        cursor: pointer;
        span{
            background-color: $white;
            width: 15px;
            height: 2px;
            display: block;
            margin-bottom: 5px;
            &:nth-child(1), &:nth-child(3){
                width:20px;
            }
        }
    }
    &-close{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top:1.5rem;
        right: 5%;
        width: 20px;
    }
}


.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba($black,0.98);

    nav{
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color:$white;
        font-family: $heading-font;
        font-size: 2rem;
        @include tablet{
            font-size: 4rem;
        }
        span{
            color:$primary;
            margin-right: 1rem;
        }
    }
}

.nav-closed{
    display: none;
}