.menu-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span{
        background-color: white;
        width: 30px;
        height: 2px;
        display: block;
        margin-bottom: 5px;
        &:nth-child(1), &:nth-child(3){
            width:20px;
        }
    }
}

.main-nav{
    a{
        text-decoration: none;
        color:#fff;
    }
}

.nav-closed{
    display: none;
}