@import '../../variables.scss';

#skills{
    display: flex;
    flex-direction: column;
    gap:1rem;
    @include tablet{
        flex-direction: row;
        gap:2rem;
    }
}

.skills{
    &-list{
        display: flex;
        gap:.7rem;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 3rem;
    }

    &-item{
        padding: .1rem .5rem;
        border:2px solid $main-color;
        border-radius: 5px;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
    }

    &-container{
        flex:1;
    }
}