@import '../../variables.scss';

.skills{
    &-list{
        display: flex;
        gap:1rem;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 3rem;
    }

    &-item{
        padding: .1rem .5rem;
        /*background-color: #2d2d2d;*/
        border:2px solid $primary;
        border-radius: 5px;
        font-size: .8rem;
        font-weight: 800;
    }
}