@import '../../variables.scss';

.experience{
    &-list{
        margin: 0 auto;
        @include tablet{
            max-width: 80%;
        }
    }
    &-item{
        border-bottom:1px solid $gray;
        text-align: left;
        padding: 2rem 0 2rem 0;
        p{
            margin: 0;
        }
        .skills-list{
            margin:2rem 0 0 0;
        }
    }
    &-header{
        margin-bottom: 2rem;
    }
    &-company{
        font-size: 2rem;
        margin-bottom: 0;
        font-weight: 800;
        font-family: $heading-font;
        line-height: 1;
    }
    &-title{
        margin:0;
    }
}