@import '../../variables.scss';

.experience{
    &-hidden{
        display: none;
    }
    &-list{
        margin: 0 auto;
        @include tablet{
            max-width: 60%;
        }
    }
    &-item{
        border-bottom:1px solid $gray;
        text-align: left;
        padding: 2rem 0 2rem 0;
        p{
            margin: 0;
        }
        .skills-list{
            margin:2rem 0 0 0;
        }
    }
    &-header{
        margin-bottom: 0;
        background: none;
        border: none;
        color: $white;
        font-family: $heading-font;
        padding: 0;
        line-height: 1;
        text-align: left;
        cursor: pointer;
        width: 100%;
    }
    &-company{
        font-size: 1.5rem;
        margin-bottom: 0;
        font-weight: 800;
        font-family: $heading-font;
        line-height: 1;
        @include tablet{
            font-size: 2rem;
        }
    }
    &-title{
        margin:0;
        font-family: $main-font;
    }
    &-content{
        margin-top:2rem;
    }
}