@import './variables.scss';

html{
    scroll-behavior: smooth;
}

body{
    font-family: $main-font;
    color:$white;
    background-color: $black;
}

h1,h2,h3,h4{
    font-family: $heading-font;
    line-height: 1;
}

h2{
    font-size:3rem;
}

h3{
    font-size:2rem;
}

strong{
    color:white;
}

.container{
    max-width: 80em;
    margin: 0 auto;
}

.flex{
    &-container{
        @include tablet{
            display: flex;
        }
    }
    &-vertical-center{
        @include tablet{
            align-items: center;
        }
    }
}

.text-center{
    text-align: center;
}

.padding-global{
    padding-left:5%;
    padding-right:5%;
}

section{
    padding:40px 0;
}

.section{
    &-subtitle{
        margin:0;
        color:$primary;
        font-size: 2rem;
        font-weight: 800;
    }

    &-title{
        margin:0 0 1rem 0;
    }
    
}