@import './variables.scss';

html{
    scroll-behavior: smooth;
}

body{
    font-family: $main-font;
    color:$white;
    background-color: $black;
}

h1,h2,h3,h4{
    font-family: $heading-font;
    line-height: 1;
}

h2{
    font-size:2rem;
    @include tablet{
        font-size:3rem;  
    }
}

h3{
    font-size:2rem;
}

strong{
    color:$white;
}

.container{
    max-width: 80em;
    margin: 0 auto;
}

.flex{
    &-container{
        @include tablet{
            display: flex;
        }
    }
    &-vertical-center{
        @include tablet{
            align-items: center;
        }
    }
    &-space-between{
        @include tablet{
            justify-content: space-between;
        }
    }
}

.text-center{
    text-align: center;
}

.padding-global{
    padding-left:5%;
    padding-right:5%;
}

section{
    padding:30px 0;
    @include tablet{
        padding:40px 0;
    }
}

.section{
    &-subtitle{
        margin:0;
        color:$primary;
        font-size: 1.5rem;
        font-weight: 800;
        @include tablet{
            font-size: 2rem; 
        }
    }

    &-title{
        margin:0 0 1rem 0;
    }
    
}

.title-line{
    position: relative;
    display: flex;
    align-items: center;
    gap:1rem;
    font-family: $heading-font;
    font-size: 1.5rem;
    &:after{
        content:'';
        width:100px;
        flex:1;
        display: block;
        height: 1px;
        background-color: $gray;
        @include tablet{
            width:150px;
        }
    }
}