// Color variables
$primary: #000;
$white: #fff;
$black: #0F0F0F;
$gray: #1c1c1c;
$main-bg: rgb(246, 248, 243);
$main-color: rgb(57, 54, 50);
$border-color: #aeaeae;

// Typography variables
$main-font: 'Be Vietnam Pro', sans-serif;
$heading-font: 'Be Vietnam Pro', sans-serif;

// Other variables
$b-radius: 5px;
$bold-weight: 800;

// Media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin tablet {
    @media only screen and (min-width: $lg) {
        @content;
    }
}